name: PHP Lint (compat)
on: [push, pull_request]
jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: ["8.2", "8.3"]
    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
      - name: Lint PHP
        run: |
          find . -type f -name "*.php" -print0 | xargs -0 -n1 -P4 php -l
